* {
	font-family: 'IM Fell English SC', serif;
}

#wrapper {
	min-width: 780px;
	height: 100%;
}

#main-container {
	position: relative;
	height: 100%;
}

body {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: none;
	background-position: center center; 
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
}

#head-row {
	text-align: center;
	margin-bottom: 10px;
	min-height: 112px;
	height: 15%;
}

#game-row {
	min-height: 350px;
	height: 45%;
}

#chat-row {
	margin: 10px auto 0;
	min-height: 190px;
	height: 40%;
}

.player, #board {
	width: 300px;
	height: 350px;
	margin: auto;
	text-align: center;
	position: relative;
	font-weight: 900;
}

#board > p {
	padding-top: 50px;
	font-size: 3em;
	color: black;
}

#player1 {
	background-image: url("../images/shield1.png");
	color: #13103d;
	text-shadow: -1px 0 0 white, 0 1px 0 white, 1px 0 0 white, 0 -1px 0 white;
}

#player2 {
	background-image: url("../images/shield2.png");
	color: #621010;
	text-shadow: -1px 0 0 white, 0 1px 0 white, 1px 0 0 white, 0 -1px 0 white;
}

#player1, #player2 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.join-btn, .join-alert {
	line-height: 300px;
	font-size: 2.5em;
	margin: 0;
	font-weight: 600;
}

.join-btn:hover {
	cursor: pointer;
}

#username-label {
	margin-top: 60px;
	font-size: 1.75em;
	width: 200px;
}

#username-input {
	background-color: #6a645d;
	font-size: 1.75em;
	width: 175px;
	margin: auto;
	border: 1px solid #1c1611;
	padding: 1px;
	text-shadow: -1px 0 0 white, 0 1px 0 white, 1px 0 0 white, 0 -1px 0 white;
}

#username-btn {
	font-size: 1.75em;
	text-shadow: -1px 0 0 white, 0 1px 0 white, 1px 0 0 white, 0 -1px 0 white;
	margin-top: 20px;
	background: none;
	border: none;
}

#username-input:focus,
#username-btn:focus {
	outline: none;
}

#chat-row {
	margin: 10px auto 0;
}

#chat-col {
	height: 100%;
}

#chat-area {
	width: 100%;
	height: 80%;
	background-image: url("../images/scroll.jpg");
	color: black;
	font-size: 1.5em;
	resize: vertical;
	overflow: auto;
	padding: 2px;
}

.chat-line {
	margin-bottom: 2px;
}

#chat-input-group {
	width: 100%;
	color: black;
	font-size: 1.5em;
}

#chat-input {
	width: 85%;
	background-color: #f2cf8f;
}

#chat-input:focus {
	outline: none;
}

#chat-btn {
	width: 15%;
	background-color: #f2cf8f;
}

#chat-btn {
	outline: none;
}

.chat-user {
	font-style: italic;
	text-decoration: underline;
}

.player-head {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 3em;
	padding-top: 40px;
}

.choices {
	width: 210px;
	margin: auto;
	text-align: center;
	font-size: 2em;
}

.choice-list {
	list-style-type: none;
	padding: 0px;
}

.score {
	position: relative;
	width: 250px;
	height: 1.5em;
	margin: auto;
	margin-bottom: 10px;
	font-size: 2em;
}

.wins {
	position: absolute;
	left: 10px;
}

.losses {
	position: absolute;
	right: 10px;
}
