#wrapper {
	min-width: 630px;
}

#main-container {
	position: relative;
}

#head-row {
	text-align: center;
	margin-bottom: 30px;
}

.player, #board {
	width: 200px;
	height: 200px;
	border: 4px solid black;
	margin: auto;
	text-align: center;
	position: relative;
}

#username-btn {
	margin-top: 10px;
}

#chat-row {
	margin: 40px auto 0;
}

#chat-area {
	width: 100%;
	height: 150px;
	resize: vertical;
	overflow: auto;
	padding: 2px;
	border: 2px solid grey;
}

.chat-line {
	margin-bottom: 2px;
}

#chat-input-group {
	width: 100%;
}

#chat-input {
	width: 85%;
}

#chat-input:focus {
	outline: none;
}

#chat-btn {
	width: 15%;
}

.chat-user {
	font-style: italic;
}

.player-head {
	position: absolute;
	top: 10px;
	width: 100%;
	margin: 0;
	text-align: center;
}

.choices {
	position: absolute;
	top: 60px;
	width: 100%;
	margin: 0;
	text-align: center;
}

.choice-list {
	list-style-type: none;
	padding: 0px;
}

.score {
	position: absolute;
	bottom: 5px;
	width: 100%;
	height: 1.5em;
	margin: 0;
}

.wins {
	position: absolute;
	left: 10px;
}

.losses {
	position: absolute;
	right: 10px;
}
